{% extends 'layout/basic.html' %}

{% load thumbnail %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Рубрика:{{ rubric.name }}{% endblock %}

{% block searchform %}
{% endblock %}

{% block content %}
<h2 class = 'mb-2'>{{ rubric.name }}</h2> <!--Название рубрики большим шрифтом-->
<div class = 'container-fluid mb-2'>
	<div class = 'row'>
		<div class = 'col'>
			&nbsp; <!--Тут у нас форма поиска, которая с помощью классов прижата к правому краю страницы-->
		</div>
		<form class = 'col-md-auto form-inline'> <!--form-inline укажет все элементы управления сделать в одну строку-->
			{% bootstrap_form form show_label=False %}
			{% bootstrap_button content='Найти' button_type='submit' %}
		</form>
	</div>
</div>
{% if bbs %} <!--Если есть контекст (объявления)-->
<ul class = 'list-unstyled'>
	{% for bb in bbs %} <!--Для всех объявлений в контексте-->
	<li class = 'media my-5 p-3 border'>
		{% url 'main:detail' pk=bb.pk as url %} <!--ссылку на функцию detail где rubric_pk = rubric.pk а pk = bb.pk записать в переменную url-->
		<p>
			{% if bb.image %} <!--Если есть фотка--> 
				{% thumbnail bb.image 'default' as timg %}
				<a href="{% url 'main:detail' pk=bb.pk %}"><img src="{{ timg.url }}" class = 'mr-3'></a>
			{% else %}
				<p></p>
			{% endif %}
		</p>
		<div class = 'media-body'>
			<h3><a href="{{ url }}{{ all }}">{{ bb.name }}</a></h3> <!--Название-->
			<div>{{ bb.content }}</div> <!--Описание-->
			<p class = 'text-right font-weight-bold'>{{ bb.price }} руб.</p> <!--Цена-->
			<form action="{% url 'cart:cart_add' bb.pk %}" class = 'text-right' method="post">
			    {{ cart_product_form }}
			    {% csrf_token %}
			    <input type="submit" value="Добавить в корзину">
			</form>
		</div>
	</li>
	{% endfor %}
</ul>
{% bootstrap_pagination page url=keyword %}
{% endif %}
{% endblock %}